<% include top %>
<h3><%= line ? line.Line : "" %></h3>
<p><%= line ? line.Id : "" %></p>
<p><%= line ? line.Description : "" %></p>

<% if (notekey) { %>
    <hr/>
    <p><a href="/linedestroy?id=<%= notekey %>">Delete</a>
     | <a href="/lineedit?id=<%= notekey %>">Edit</a>
     |  <a href="/lines">Back</a></p>
<% } %>
<% include bottom %>